.nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background: rgb(1, 1, 42);
    padding: 20px 40px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* UL del menú */
.menu {
    display: flex;
    gap: 30px;
    list-style: none;
}

/* Opcional: estilos para los <a> */
.menu li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    transition: color .2s ease;
}

.menu li a:hover {
    color: #4ea3ff;
}
