#experiencia {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 48px;
    margin-bottom: 40px;
}

.expContainer {
    background-color: rgb(1, 1, 42);
    width: 80%;
    max-width: 1200px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card {
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.03); 
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.topRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconEmpresa{
    padding: 14px;
    border-radius: 12px;
    display: flex;
    font-size: 28px;
    color: #4da3ff;
}

.infoEmpresa{
    flex: 1;
    margin-left: 20px;
}

.infoEmpresa h2{
    font-size: 22px;
    margin-bottom: 5px;
}

