:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(1, 1, 42);
    color: #ffffff;
}

a {
    font-weight: 500;
    text-decoration: inherit;
}

a:hover {
    color: #ffffff;
    font-weight: 900;
}
